body {
	//overflow: hidden;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--main-gray);
	padding: 3vh 2.5vw;
	h3 {
		font-size: 30px;
	}
	.leave_button {
		font-size: 25px;
		color: var(--text-leave);
		transition: color 0.3s linear;
		&:hover {
			color: red;
		}
	}
}

main {
	display: flex;
	flex-direction: column;
	gap: 1.5vh;
	height: 70vh;
	background: var(--main-gray);
	margin-top: 2vh;
	padding: 2vh 2vw;
	overflow: auto;
}

.input_block {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	form {
		flex: 1 0;
		border-left: 2px solid var(--purple);
		border-right: 2px solid var(--purple);
		input {
			width: 100%;
			height: var(--size-input-height);
			background: var(--sub-gray);
			font-size: 25px;
			color: #fff;
			padding: 0 5vw 0 2vw;
		}
	}
	.emoji_icon {
		position: relative;
		width: var(--size-input-height);
		height: var(--size-input-height);
		background: var(--sub-gray);
		cursor: pointer;
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			max-width: 65%;
			opacity: 50%;
			transition: opacity 0.2s ease-in-out;
			&:hover {
				opacity: 100%;
			}
		}
	}
	.emoji_block {
		position: absolute;
		top: -440px;
		left: 2vw;
		z-index: 1000;
	}
	Button {
		height: var(--size-input-height);
		background: var(--sub-gray);
		margin: 0;
	}
}
