.title_block {
	margin-top: 5vh;
	text-align: center;
	.title,
	.title_sub {
		display: inline;
		position: relative;
		font-size: 60px;
		letter-spacing: 5px;
		text-align: center;
	}
	.title::after {
		content: '';
		display: block;
		position: absolute;
		bottom: 15px;
		right: 11px;
		margin: 0 auto;
		width: 400px;
		height: 3px;
		background: var(--purple);
		z-index: -1;
	}
}

.form_join {
	max-width: 60vw;
	margin: 10vh auto;
	background: var(--main-gray);
	padding: 4vh 3vw;
	.greeting {
		font-size: 30px;
		text-align: center;
		letter-spacing: 2px;
		span:last-child {
			font-weight: 500;
			color: var(--purple);
		}
	}
	Button {
		transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
		&:hover {
			background: var(--bg-color);
		}
	}
}

.fields {
	margin: 4vh auto;
	display: flex;
	flex-direction: column;
	gap: 2vh;
}
