:root {
	// !colors
	--bg-color: #1a1a1a;

	--main-gray: #323232;
	--sub-gray: #464646;

	--text-gray: #8f8f8f;
	--text-leave: #b60f0f;
	--text-me: #b953ff;
	--text-user: #ff912d;
	--text-admin: #78ff4e;

	--purple: #b953ff;

	// !sizes
	--size-input-height: 100px;
}
